* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: helvetica;
}

.container {
	background-image: url(../images/1.jpeg);
	background-size: cover;
	background-position: center;
}

.page {
	width: 960px;
	margin: 0 auto;
}

.menu {
	height: 100px;
	background: #1c1c1c;
}

.logo {
	color: white;
	line-height: 100px;
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 3rem;
}

.sidebar {
	height: 300px;
	background: #585858;
	width: 200px;
	float: left;
	margin: 20px 20px;
	border-radius: 10px;
	text-align: center;
}

.sidebar ul li {
	list-style: none;
	padding: 10px 0;
}

.sidebar ul li:hover {
	background-color: #1c1c1c;
	color: #1c1c1c;
}

.sidebar ul li a {
	text-decoration: none;
	color: white;
	font-family: 'Courgette', cursive;
}

.content {
	width: 650px;
	height: 500px;
	background: #DADDD8;
	float: right;
	padding: 20px;
	margin: 20px 20px;
	border-radius: 10px;
}

.article-image {
	float: left;
	width: 300px;
	height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
}

.footer {
	/*height: 200px;*/
	/*border: 5px solid red;*/
	background: #1c1c1c;
	clear: both;
}

.clear:after {
	content: " ";
	clear: both;
	display: block;
}

.column {
	background-color: #DADDD8;
	height: 160px;
	width: 31%;
	margin: 20px 1.16%;
	float: left;
}

.avatar {
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	border-radius: 40px;
	background-color: #D6E9FE;
}

.username {
	margin-top: 30px;
}

.comment {
	margin: 10px;
	overflow: hidden;
}